@value tokens: "../css/tokens.module.css";
@value blueColor, greenColor, yellowColor, beigeColor, redColor from tokens;

.part {
  composes: view from "../css/layout.module.css";
}
.title {
  composes: largeTitleOutline from "../css/typo.module.css";
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.3rem var(--colorBlue);
  text-stroke: 0.3rem var(--colorBlue);
}

.title_outline {
  composes: largeTitle from "../css/typo.module.css";
  -webkit-text-stroke: 0.3rem var(--colorBlue);
  text-stroke: 0.3rem var(--colorBlue);
  -webkit-text-fill-color: var(--colorBlue);
  text-fill-color: var(--colorBlue);
}

.title_description {
  composes: semiBold from "../css/typo.module.css";
  color: var(--colorBlue);
  margin-bottom: 5rem;
}

.text {
  composes: text from "../css/typo.module.css";
  color: var(--colorBlue);
  margin-top: 1.5rem;
}

.text__bold {
  composes: bold from "../css/typo.module.css";
  color: var(--colorBlue);
  margin-bottom: 2rem;
}

.text__caps {
  composes: smallCaps from "../css/typo.module.css";
  color: var(--colorBlue);
}

.text__semibold {
  composes: semiBold from "../css/typo.module.css";
  color: var(--colorBlue);
}

.grid__about {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 12rem;
}

.img__about {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.faq__div {
  border: 0.3rem solid var(--colorBlue);
  padding: 2.5rem;
  margin-bottom: 2rem;
  width: 70%;
}

.button__open {
  margin-left: 1rem;
}

.faq__content {
  display: flex;
  justify-content: space-between;
  color: var(--colorBeige);
}

.faq__text__bold {
  composes: bold from "../css/typo.module.css";
  cursor: pointer;
}

.faq__ul li {
  margin-bottom: 1rem;
  color: var(--colorBlue);
}

.faq__text__bold {
  color: var(--colorBlue);
}

.title__outline__faq {
  -webkit-text-stroke: 0.3rem var(--colorBlue);
  text-stroke: 0.3rem var(--colorBlue);
}

.title__faq {
  -webkit-text-stroke: 0.3rem var(--colorBlue);
  text-stroke: 0.3rem var(--colorBlue);
  -webkit-text-fill-color: var(--colorBlue);
  text-fill-color: var(--colorBlue);
}

.button__open path {
  fill: var(--colorBlue);
}

@media screen and (max-width: 850px) {
  .faq__div {
    width: 100%;
  }

  .grid__about {
    display: flex;
    flex-direction: column-reverse;
  }

  .img__about {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .title {
    -webkit-text-stroke: 0.2rem var(--colorBlue);
    text-stroke: 0.2rem var(--colorBlue);
  }

  .title_outline {
    -webkit-text-stroke: 0.2rem var(--colorBlue);
    text-stroke: 0.2rem var(--colorBlue);
  }

  .title__outline__faq {
    -webkit-text-stroke: 0.2rem var(--colorBlue);
    text-stroke: 0.2rem var(--colorBlue);
  }

  .title__faq {
    -webkit-text-stroke: 0.2rem var(--colorBlue);
    text-stroke: 0.2rem var(--colorBlue);
  }
}

@media screen and (max-width: 550px) {
  .img__about {
    width: 80%;
  }

  .title {
    -webkit-text-stroke: 0.15rem var(--colorBlue);
    text-stroke: 0.15rem var(--colorBlue);
  }

  .title_outline {
    -webkit-text-stroke: 0.15rem var(--colorBlue);
    text-stroke: 0.15rem var(--colorBlue);
  }

  .title__outline__faq {
    -webkit-text-stroke: 0.15rem var(--colorBlue);
    text-stroke: 0.15rem var(--colorBlue);
  }

  .title__faq {
    -webkit-text-stroke: 0.15rem var(--colorBlue);
    text-stroke: 0.15rem var(--colorBlue);
  }
}
