@value tokens: "../css/tokens.module.css";
@value blueColor,beigeColor yellowColor from tokens;

.button {
  border: none;
  background-color: transparent;
  display: inline-block;
}

.circleButton {
  background-color: beigeColor;
  border: 0.2rem solid blueColor;
  position: relative;
  border-radius: 50%;
  display: block;
  padding: 0.5rem;
  width: 9rem;
  height: 9rem;
}

.circleButton:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 3%;
  right: 3%;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  padding: 0.2rem solid colorBlue;
}

.button:hover .circleButton:after {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.buttonImage {
  animation: rotation 4s infinite linear;
  animation-play-state: paused;
  webkit-animation-play-state: paused;
  width: 100%;
  height: 100%;
}

.button:hover .buttonImage {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
}

.smallButton {
  border: none;
  background-color: transparent;
  display: inline-block;
}

.smallCircleButton {
  background-color: yellowColor;
  border: 0.3rem solid blueColor;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 7rem;
  height: 7rem;
}

.smallCircleButton:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 6%;
  right: 6%;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  padding: 0.2rem solid colorBlue;
}

.smallButton:hover .smallCircleButton:after {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.smallButtonImage {
  animation: rotation 4s infinite linear;
  animation-play-state: paused;
  webkit-animation-play-state: paused;
}

.smallButton:hover .smallButtonImage {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
}

.miniButton {
  border: none;
  background-color: transparent;
  display: inline-block;
}

.miniCircleButton {
  background-color: yellowColor;
  border: 0.2rem solid blueColor;
  position: relative;
  border-radius: 50%;
  display: block;
  padding: 0.6rem 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.miniCircleButton img {
  width: 100%;
  height: 100%;
}

.miniCircleButton:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 4%;
  right: 8%;
  width: 110%;
  height: 110%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  padding: 0.2rem solid colorBlue;
}

.miniButton:hover .miniCircleButton:after {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.buttonBack {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

@media screen and (max-width: 850px) {
  .miniButton {
    border: none;
    background-color: transparent;
    display: inline-block;
  }

  .miniCircleButton {
    background-color: yellowColor;
    border: 0.2rem solid blueColor;
    position: relative;
    border-radius: 50%;
    display: block;
    padding: 0.6rem 0.8rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 550px) {
  .circleButton {
    background-color: yellowColor;
    border: 0.2rem solid blueColor;
    position: relative;
    border-radius: 50%;
    display: block;
    padding: 0.5rem;
    width: 9rem;
    height: 9rem;
  }
}
