@value tokens: "../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

.part_project {
  min-height: 100vh;
  padding: 10rem 0;
  margin: 0 0 0 14rem;
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.part_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div {
}

.div_text {
  composes: largeTitle from '../css/typo.module.css';
}
