@value tokens: "../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

.part_project {
  min-height: 100vh;
  /* padding: 10rem 0; */
  margin: 0 0 0 14rem;
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.part_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90rem;
  margin-right: 10rem;
  padding: 10rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-right: 15rem;
}

.form_card {
  height: 25rem;
  width: 50rem;
  padding: 2rem;
  position: relative;
  margin: 2rem 0;
}

.form_card:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 5%;
  left: 3%;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.form_radio {
  display: none;
}

.form_option__text {
  composes: smallCaps from "./typo.module.css";
  margin-top: 1rem;
}

.checkbox {
  display: none;
}

.voorzien {
  z-index: 2;
  cursor: pointer;
}

.form_buttons {
  display: flex;
  justify-content: space-between;
}

.button_back {
  composes: buttonBack from "./buttons.module.css";
  cursor: pointer;
}

.back_image {
  margin-right: 0.5rem;
}

.back_text {
  composes: bold from "./typo.module.css";
}

.button_voorzien {
  border: 0.2rem solid blueColor;
  padding: 0.6rem 0.8rem;
  position: relative;
  background-color: beigeColor;
  composes: text from "./typo.module.css";
}

.button_voorzien:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 0.75rem;
  right: 0.75rem;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: all 0.2s ease-in-out;
}

.voorzien:hover .button_voorzien:after {
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 850px) {
  .part_project {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 2rem;
    min-height: unset;
  }

  .part_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    padding: 0 1rem;
    margin-bottom: 5rem;
  }

  .form_card {
    height: 25rem;
    width: 50rem;
    padding: 2rem;
    position: relative;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .part_project {
    margin: 1rem;
  }

  .form_card {
    height: auto;
    width: auto;
    padding: 0;
    position: relative;
    margin: 4rem 2rem 4rem 7rem;
  }
}

@media screen and (max-width: 450px) {
  .part_project {
    margin: 0.5rem;
  }

  .form_card {
    height: auto;
    width: auto;
    padding: 0;
    position: relative;
    margin: 4rem 1rem 4rem 5rem;
  }
}
