@value tokens: "./tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

.cards {
  display: flex;
  height: 70vh;
  justify-content: top;
  align-items: flex-end;
  margin-right: 15rem;
}

.card {
  width: 35rem;
  position: relative;
  margin: 0 8rem;
}

.card:nth-child(even) {
  align-self: flex-start;
}

.card:hover {
  cursor: pointer;
}

.card:hover .button_image {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
}

.card:hover .card_info:after {
  top: 0%;
  left: 0%;
}

.card_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.4rem solid #091422;
  padding: 1.5rem;
}

.card_info:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1.5rem;
  left: 1.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.card_info__red {
  background-color: #fe4f51;
}

.card_info__yellow {
  background-color: #ffeb3d;
}

.card_info__green {
  background-color: #4fc8b1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.gallery {
  display: flex;
  margin-left: 12vw;
  margin-right: 12vw;
  height: 100%;
  align-items: center;
}

/* Ontdek Durf 2030 */

.home_start {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6rem;
}

/* Large Text Durf 2030 */

.home_text {
  position: relative;
}

.text_start {
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4rem #091422;
  text-stroke: 0.4rem #091422;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  font-family: Montserrat;
  margin-bottom: -10%;
  position: relative;
}

.text-large--fill {
  -webkit-text-fill-color: #091422;
  text-fill-color: #2c2d30;
  white-space: nowrap;
}

.text-large--inner {
  font-size: 9vw;
  white-space: nowrap;
}

/* Durf 2030 Tekst + Buttons */

.home_start__info {
  margin-top: -10%;
}

.home_subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: blueColor;
  margin-bottom: 5rem;
  width: 80%;
}

.home_button__arrow {
  display: flex;
  align-items: center;
}

.button_arrow__image {
  margin-left: 5rem;
}

.home_button__bold {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.home_button__light {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
  border-bottom: 0.1rem solid #091422;
  display: inline-block;
  padding: 0.5rem 0;
  color: #091422;
}

.button {
  border: none;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  left: -2rem;
  margin-top: 22vw;
}

.circle_button {
  background-color: #ffeb3d;
  border: 0.2rem solid #091422;
  position: relative;
  border-radius: 50%;
  display: block;
  padding: 0.5rem;
  width: 100%;
}

.circle_button:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 3%;
  right: 3%;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.button:hover .circle_button:after {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.button_image {
  animation: rotation 4s infinite linear;
  animation-play-state: paused;
  webkit-animation-play-state: paused;
}

.button:hover .button_image {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* End Nieuw Project */

.home_end__info {
  margin-top: 5rem;
}

/* Start Nu jouw Project */

.text_end {
  font-size: 14rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4rem #091422;
  text-stroke: 0.4rem #091422;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  font-family: Montserrat;
}

.home_end {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 10rem; */
}

.home_end__buttons {
  display: flex;
  align-items: center;
}

.home_button__start {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #091422;
  padding: 1rem 3rem;
  border: 0.2rem solid #091422;
  margin-right: 2rem;
  position: relative;
  background-color: #fdecd2;
  cursor: pointer;
}

.home_button__start:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.7rem;
  left: 0.7rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.home_button__start:hover .home_button__start:after {
  top: 0;
  left: 0;
}

@media screen and (max-width: 1050px) {
  .text_start {
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4rem #091422;
    text-stroke: 0.4rem #091422;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 900;
    font-family: Montserrat;
    margin-bottom: 5%;
    position: relative;
  }

  .home_subtitle {
    width: 100%;
  }

  .text-large--fill {
    -webkit-text-fill-color: #091422;
    text-fill-color: #2c2d30;
    white-space: nowrap;
  }

  .text-large--inner {
    font-size: 11vw;
    white-space: nowrap;
  }

  .text_end {
    font-size: 14rem;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4rem #091422;
    text-stroke: 0.4rem #091422;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 900;
    font-family: Montserrat;
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  /* .cards {
    display: flex;
    height: unset;
    justify-content: top;
    align-items: center;
    margin-right: 0;
  }

  .card {
    width: 80%;
    position: relative;
    margin: 0;
    align-self: unset;
  } */

  .card:nth-child(even) {
    align-self: unset;
  }

  /* Large Text Durf 2030 */

  .text_start {
    font-size: 10vw;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2rem #091222;
    text-stroke: 0.4rem #091422;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 900;
    margin-bottom: unset;
  }

  .text-large--fill {
    -webkit-text-fill-color: #091422;
    text-fill-color: #2c2d30;
    white-space: nowrap;
  }

  .text-large--inner {
    font-size: 9vw;
    white-space: nowrap;
  }

  /* Durf 2030 Tekst + Buttons */

  .home_start__info {
    margin-top: unset;
  }

  .home_start {
    margin-right: unset;
    margin-top: unset;
  }

  .home_subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: blueColor;
    margin-bottom: unset;
    width: 100%;
  }

  .home_start__buttons {
    display: flex;
    flex-direction: column;
  }

  .home_button__arrow {
    display: flex;
    flex-direction: column;
  }
}
