@value tokens: "./tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

/* Ontdek Durf 2030 */

.home_start {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 10rem; */
  margin-right: 10rem;
}

/* Text */

.text-large--inner {
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4rem #091422;
  text-stroke: 0.4rem #091422;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  font-family: Montserrat;
  /* margin-bottom: -6vw; */
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.text-large--fill {
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4rem #091422;
  text-stroke: 0.4rem #091422;
  -webkit-text-fill-color: #091422;
  text-fill-color: #091422;
  font-weight: 900;
  font-family: Montserrat;
  white-space: nowrap;
  width: 100%;
}

/* Large Text Durf 2030 */

.home_text {
}

.text-start--button {
  position: relative;
}

.start-text--large--fill {
  position: relative;
}

.button {
  border: none;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -1vw;
  margin-top: 24vw;
}

.circle_button {
  background-color: #ffeb3d;
  border: 0.2rem solid #091422;
  position: relative;
  border-radius: 50%;
  display: block;
  padding: 0.5rem;
  width: 6vw;
  height: 6vw;
}

.circle_button:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  bottom: 3%;
  right: 3%;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.button:hover .circle_button:after {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.button_image {
  animation: rotation 4s infinite linear;
  animation-play-state: paused;
  webkit-animation-play-state: paused;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button:hover .button_image {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.text_start {
  margin-bottom: -6vw;
}

/* Durf 2030 Tekst + Buttons */

.home_subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: blueColor;
  margin-bottom: 5rem;
  width: 80%;
}

.home_button__arrow {
  display: flex;
  align-items: center;
}

.button_arrow__image {
  margin-left: 5rem;
}

.home_button__bold {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
  white-space: nowrap;
}

.home_button__light {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
  border-bottom: 0.1rem solid #091422;
  display: inline-block;
  padding: 0.5rem 0;
  color: #091422;
}

/* Card Gallery */

.gallery {
  display: flex;
  /* margin-left: 12vw;
  margin-right: 12vw; */
  margin: 0 12vw;
  height: 100%;
  align-items: center;
}

.cards {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-right: 15rem;
}

/* .card:hover .button_image {
  animation: rotation 4s infinite linear;
  cursor: pointer;
  animation-play-state: running;
  webkit-animation-play-state: running;
} */

.card {
  width: 35rem;
  position: relative;
  margin: 0 8rem;
  height: auto;
}

.card:first-of-type {
  margin-left: 0;
}

.card:hover {
  cursor: pointer;
}
.card:hover .card_info:after {
  top: 0%;
  left: 0%;
}

.card_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.4rem solid #091422;
  padding: 1.5rem;
}

.card:nth-of-type(1) .card_info,
.card:nth-of-type(4) .card_info {
  background-color: #ffeb3d;
}
.card:nth-of-type(2) .card_info,
.card:nth-of-type(5) .card_info {
  background-color: #fe4f51;
}
.card:nth-of-type(3) .card_info,
.card:nth-of-type(6) .card_info {
  background-color: #4fc8b1;
}

.card:nth-of-type(1) .button-div .circle-color,
.card:nth-of-type(4) .button-div .circle-color {
  background-color: #4fc8b1;
}
.card:nth-of-type(2) .button-div .circle-color,
.card:nth-of-type(5) .button-div .circle-color {
  background-color: #ffeb3d;
}
.card:nth-of-type(3) .button-div .circle-color,
.card:nth-of-type(6) .button-div .circle-color {
  background-color: #fe4f51;
}

.card_info:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1.5rem;
  left: 1.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

/* End Nieuw Project */

.home_end {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Start Nu jouw Project */

.end-text--large--fill {
  font-size: 9vw;
}

.end-text--large--inner {
  font-size: 9vw;
}

.home_end__buttons {
  display: flex;
  align-items: center;
  margin-top: 8rem;
}

.home_button__start {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #091422;
  padding: 1rem 3rem;
  border: 0.2rem solid #091422;
  margin-right: 2rem;
  position: relative;
  background-color: #fdecd2;
  cursor: pointer;
}

.home_button__start:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.7rem;
  left: 0.7rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.home_button__start:hover .home_button__start:after {
  top: 0;
  left: 0;
}

@media screen and (max-width: 1250px) {
  .start-text--large--inner {
    font-size: 12vw;
  }

  .start-text--large--fill {
    font-size: 12vw;
  }

  .home_start__info {
    margin-top: 12rem;
  }

  .circle_button {
    width: 7vw;
    height: 7vw;
  }

  .button {
    margin-top: 26vw;
  }
}

@media screen and (max-width: 1050px) {
  .gallery {
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
  }

  .start-text--large--inner {
    font-size: 12vw;
  }

  .start-text--large--fill {
    font-size: 12vw;
  }

  .end-text--large--inner {
    font-size: 8vw;
  }

  .end-text--large--fill {
    font-size: 8vw;
  }

  .home_subtitle {
    width: 100%;
  }

  .circle_button {
    width: 8vw;
    height: 8vw;
    left: -1.5vw;
  }

  .button {
    margin-top: 25vw;
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    margin-left: 4vw;
    margin-right: 10vw;
    display: flex;
  }

  .card:nth-child(even) {
    align-self: unset;
  }

  .button {
    left: -1rem;
    margin-top: 27vw;
  }

  .circle_button {
    width: 9vw;
    height: 9vw;
  }

  .circle_button:after {
    bottom: 5%;
    right: 5%;
  }

  .home_start__info {
    margin-top: 8rem;
  }

  .home_start {
    margin-right: 6rem;
  }

  .start-text--large--inner {
    -webkit-text-stroke: 0.35rem #091422;
    text-stroke: 0.35rem #091422;
  }

  .start-text--large--fill {
    -webkit-text-stroke: 0.35rem #091422;
    text-stroke: 0.35rem #091422;
  }

  .end-text--large--inner {
    font-size: 9vw;
    -webkit-text-stroke: 0.28rem #091422;
    text-stroke: 0.28rem #091422;
  }

  .end-text--large--fill {
    font-size: 9vw;
    -webkit-text-stroke: 0.2rem #091422;
    text-stroke: 0.28rem #091422;
  }

  .home_end__buttons {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 550px) {
  .home_start {
    margin-right: 1rem;
    justify-content: flex-start;
    margin-top: 30vh;
  }

  .start-text--large--inner {
    font-size: 14vw;
    -webkit-text-stroke: 0.25rem #091422;
    text-stroke: 0.3rem #091422;
  }

  .start-text--large--fill {
    font-size: 14vw;
    -webkit-text-stroke: 0.15rem #091422;
    text-stroke: 0.3rem #091422;
  }

  .end-text--large--inner {
    font-size: 8vw;
    -webkit-text-stroke: 0.15rem #091422;
    text-stroke: 0.3rem #091422;
  }

  .end-text--large--fill {
    font-size: 8vw;
    -webkit-text-stroke: 0.15rem #091422;
    text-stroke: 0.3rem #091422;
  }

  .home_subtitle {
    font-size: 1.6rem;
    margin-top: 3vh;
    margin-bottom: 12rem;
  }

  .home_start__info {
    margin-top: unset;
  }

  .home_end {
    justify-content: center;
  }

  .home_button__start,
  .home_button__light {
    white-space: nowrap;
  }

  .button {
    left: -0.7rem;
    margin-top: 27vw;
    display: none;
  }

  .circle_button {
    width: 11vw;
    height: 11vw;
  }

  .button_arrow__image {
    margin-left: 1.5rem;
  }

  .gallery {
    margin-left: 2rem;
    margin-right: 14vw;
  }

  .card {
    width: 30rem;
    margin: 0 6rem;
  }

  .card_info {
    border: 0.3rem solid #091422;
    padding: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .home_subtitle {
    margin-top: 5rem;
    margin-bottom: 10vh;
  }

  .home_start {
    margin-right: 1rem;
  }

  .home_button_start {
    padding: 0.75rem 2rem;
  }
}
