.view {
  min-height: 100vh;
  padding: 8rem 0;
  margin: 0 8vh 0 14rem;
  display: flex;
  flex-direction: column;
}

.viewLarge {
  min-height: 100vh;
  padding: 8rem 0;
  margin: 0 0 0 14rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1500px) {
  .view {
    padding: 4rem 0;
    margin: 0 4rem 0 10rem;
  }

  .viewLarge {
    padding: 4rem 0;
    margin: 0 0 0 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .view {
    margin: 0 2rem 0 8rem;
  }

  .viewLarge {
    margin: 0 0 0 8rem;
  }
}

@media screen and (max-width: 850px) {
  .view {
    padding: 4rem 0;
    margin: 0 1rem 5rem 1rem;
  }

  .viewLarge {
    margin: 0 0 5rem 1rem;
  }
}

@media screen and (max-width: 550px) {
  .view {
    margin: 0 1.5rem 5rem 1.5rem;
  }

  .viewLarge {
    margin: 0 0 5rem 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .view {
    margin: 0 0.5rem 5rem 0.5rem;
  }

  .viewLarge {
    margin: 0 0 5rem 0.5rem;
  }
}
