@value tokens: "./tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor, lightColor from tokens;

.part {
  composes: viewLarge from './layout.module.css';
}

.tabs {
  border-bottom: 0.4rem solid blueColor;
  margin-bottom:8rem;
}

.tabs_title {
  composes: smallCaps from './typo.module.css';
  border: none;
  background-color: transparent;
  padding: 1rem 0;
  margin-right: 5rem;
  opacity: 0.2;
  cursor: pointer;
}

.tabs_title__active {
  opacity: 1;
}

.tabs_title:last-of-type {
  margin-right: 0;
}

.subdivision {
  margin-bottom: 5rem;
}

.subtitle {
  composes: mediumTitleOutline from './typo.module.css';
  margin-bottom: 3rem;
}

.subtitle_empty {
  border-bottom: 0.2rem solid blueColor;
  padding-bottom: 3rem;
}

.grid_notifications,
.grid_notifications__items {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 2fr 0.5fr;
  padding-right: 10rem;
}

.grid_requests,
.grid_requests__items {
  display: grid;
  padding-right: 10rem;
  grid-template-columns: 5rem 1.2fr 1fr 2fr 0.5fr;
  padding-right: 10rem;
}

.grid_selectedproject,
.grid_selectedproject__items {
  display: grid;
  grid-template-columns: 40rem auto;
  padding-right: 10rem;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.grid_items,
.grid_items {
  padding: 1.5rem 10rem 1.5rem 0;
  background-color: #f3e3cb;
  align-items: center;
}

.grid_items:nth-child(even) {
  background-color: beigeColor;
}

.grid_title__start {
  grid-column: 2;
}

.grid_item {
  display: flex;
  align-items: center;
}

.grid_item__info {
  grid-area: info;
}

.grid_item__image {
  margin-right: 1rem;
  grid-area: image;
}

.grid_titles {
  border-bottom: 0.2rem solid blueColor;
  padding-bottom: 1rem;
}

.grid_title {
  composes: mediumTitle from './typo.module.css';
}

.grid_title__benodigdheden {
  margin-bottom: 1rem;
}

.grid_title__left {
  margin-left: 1rem;
}

.grid_title__end {
  text-align: center;
}

.grid_bold {
  composes: bold from './typo.module.css';
}

.grid_bold__title {
  margin-left: 1.5rem;
}

.grid_text {
  composes: text from './typo.module.css';
}

.grid_text__italic {
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: center;
}

.need_button {
  z-index: 2;
}

.input_submit {
  background-color: transparent;
  border: none;
}

.button {
  composes: miniButton from './buttons.module.css';
  margin: 0 0.2rem;
}

.circle_button__accept {
  background-color: greenColor;
  transition: none;
}

.circle_button__decline {
  background-color: redColor;
  transition: none;
}

.circle_button {
  composes: miniCircleButton from './buttons.module.css';
  transition: none;
}

.button_image {
  composes: miniButtonImage from './buttons.module.css';
}

@media screen and (max-width: 1500px) {

  .grid_notifications,
  .grid_notifications__items {
    padding-right: 4rem;
  }
  
  .grid_requests,
  .grid_requests__items {
    padding-right: 4rem;
  }
  
  .grid_selectedproject,
  .grid_selectedproject__items {
    padding-right: 4rem;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  }

@media screen and (max-width: 1250px) {
  .grid_selectedproject,
  .grid_selectedproject__items {
    padding-right: 4rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  
}

@media screen and (max-width: 1150px) {
  .grid_selectedproject,
  .grid_selectedproject__items {
    display: flex;
    flex-direction: column;
  }

  .needs {
    margin-top: 3rem;
  }

  .grid_item__needs {
    grid-column: span 2;
    margin-top: 5rem;
  }

  .grid_item__add {
    grid-column: span 2;
    margin-top: 5rem;
  }
  
}

@media screen and (max-width: 1000px) {

.grid_notifications,
.grid_notifications__items {
  grid-template-columns: 1.2fr 1fr 1fr 2fr 0.5fr;
  padding-right: 2rem;
}

.grid_requests,
.grid_requests__items {
  padding-right: 2rem;
  grid-template-columns: 5rem 1.2fr 1fr 2fr 0.5fr;
}

.grid_selectedproject,
.grid_selectedproject__items {
  padding-right: 2rem;
}
}

@media screen and (max-width: 850px) {

  .tabs {
    margin-bottom:4rem;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .tabs_title {
    margin-right: 2rem;
  }

  .grid_selectedproject,
  .grid_selectedproject__items {
    display: flex;
    flex-direction: column;
  }

  .grid_notifications,
  .grid_notifications__items {
    padding-right: 1rem;
  }

  .grid_requests,
  .grid_requests__items {
    padding-right: 1rem;
  }

  .grid_selectedproject,
  .grid_selectedproject__items {
    padding-right: 1rem;
  }
}
