@value tokens: "./tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor, lightColor from tokens;

.part {
  composes: viewLarge from './layout.module.css';
}

.tabs {
  border-bottom: 0.4rem solid blueColor;
  margin-bottom: 2rem;
}

.tabs_title {
  composes: smallCaps from './typo.module.css';
  border: none;
  background-color: transparent;
  padding: 1rem 0;
  margin-right: 5rem;
  opacity: 0.2;
  cursor: pointer;
}

.tabs_title__active {
  opacity: 1;
}

.tabs_title:last-of-type {
  margin-right: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.grid_titles {
  border-bottom: .2rem solid blueColor;
  margin-top: 5rem;
}

.grid_title {
  composes: mediumTitle from './typo.module.css';

}

.buttons {
  display: flex;
}