@value tokens: "../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

.project {
  z-index: 2;
  margin: 1rem;
}

.card {
  /* width: 42rem; */
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.4rem solid blueColor;
  background-color: beigeColor;
  padding: 2rem;
  min-width: 40rem;
}

.card:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1.2rem;
  right: 1.2rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.card_image {
  height: 22rem;
  border: 0.4rem solid blueColor;
  object-fit: cover;
}

.card_user {
  composes: mediumTitle from '../css/typo.module.css';
}

.card_titles {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card_title {
  composes: mediumTitleOutline from '../css/typo.module.css';
  margin-bottom: 1rem;
}

.card_tags {
  display: flex;
  composes: smallCaps from '../css/typo.module.css';
  color: beigeColor;
}

.card_tag {
  background-color: blueColor;
  padding: 0.5rem 1rem;
}

.card_tag:first-of-type {
  margin-right: 1rem;
}

.card_info {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.fase_color {
  height: 1.5rem;
  border-radius: 50%;
  width: 1.5rem;
}

.fase_concept {
  background-color: blueColor;
}

.fase_creatie {
  background-color: yellowColor;
}

.fase_crowdfunding {
  background-color: redColor;
}

.fase_realisatie {
  background-color: greenColor;
}

.info_needs {
  display: flex;
  align-items: flex-start;
}

.needs_text {
  display: flex;
}

.info_item {
  display: flex;
  border-bottom: 0.2rem solid blueColor;
  align-items: center;
}

.info_item:last-of-type {
  border-bottom: none;
}

.info_text {
  padding: 1.5rem 0.5rem;
  margin-left: 0.3rem;
}

.needs_number {
  margin-left: auto;
}

.info_light {
  composes: smallCapsLight from '../css/typo.module.css';
}

.info_bold {
  composes: smallCaps from '../css/typo.module.css';
}

.need {
  display: flex;
  margin-right: 0.5rem;
}

.need:last-of-type {
  margin-right: 0;
}
