/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-init {
  overflow: hidden;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-init body {
  overflow: hidden;
}

.has-scroll-smooth .data-scroll-container-home {
  min-height: 100vh;
}

[data-scroll-direction='horizontal'] .data-scroll-container-home {
  /* white-space: nowrap; */
  height: 100vh;
  display: inline-block;
}

/* [data-scroll-repeat='true'].is-inview {
  transition: 0.5s ease-in-out;
  background-color: blue;
} */

.has-scroll-smooth .data-scroll-container-detail {
  min-height: 100vh;
}

[data-scroll-direction='horizontal'] .data-scroll-container-detail {
  /* white-space: nowrap; */
  height: 100vh;
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .has-scroll-smooth .data-scroll-container-home {
    min-height: unset;
  }

  [data-scroll-direction='horizontal'] .data-scroll-container-home {
    height: unset;
    display: inline-block;
  }
}
