@value tokens: "./tokens.module.css";
@value blueColor, lightColor from tokens;

.largeTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: blueColor;
  text-fill-color: blueColor;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.largeTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  letter-spacing: 0.2rem;
}

.mediumTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: blueColor;
  letter-spacing: 0.01rem;
  line-height: 2.5rem;
}

.mediumTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.12rem blueColor;
  text-stroke: 0.12rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02rem;
  line-height: 2.5rem;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 5rem;
  text-transform: uppercase;
  color: blueColor;
  letter-spacing: 0.01rem;
  line-height: 5rem;
}

.titleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.12rem blueColor;
  text-stroke: 0.12rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 5rem;
}

.smallCaps {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.smallCapsLight {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
  line-height: 2.2rem;
}

.smallText {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: blueColor;
}

.bold {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: blueColor;
  line-height: 2.2rem;
}

.semiBold {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: blueColor;
}

.empty {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
}

@media screen and (max-width: 1000px) {

  .largeTitle {
    font-size: 10rem;
  }
  
  .largeTitleOutline {
    font-size: 10rem;
  }
  .smallCaps {
    font-size: 1.4rem;
  }
  
  .smallCapsLight {
    font-size: 1.4rem;
  }


}

@media screen and (max-width: 850px) {

  .largeTitle {
    font-size: 7rem;
  }
  
  .largeTitleOutline {
    font-size: 7rem;
  }

  .mediumTitle {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .mediumTitleOutline {
    font-size: 2rem;
    line-height: 2rem;
  }

  .smallCaps {
    font-size: 1.1rem;
  }
  
  .smallCapsLight {
    font-size: 1.1rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .smallText {
    font-size: 1.4rem;
  }
  
  .bold {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .semiBold {
    font-size: 1.6rem;
  }
  
  .empty {
    font-size: 1.6rem;
  }


}

@media screen and (max-width: 550px) {

  .largeTitle {
    font-size: 6rem;
    -webkit-text-stroke: .25rem blueColor;
    text-stroke: .25rem blueColor;
  }
  
  .largeTitleOutline {
    font-size: 6rem;
    -webkit-text-stroke: .25rem blueColor;
    text-stroke: .25rem blueColor;
  }

  .mediumTitle {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  
  .mediumTitleOutline {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .smallCaps {
    font-size: 1.2rem;
  }
  
  .smallCapsLight {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .smallText {
    font-size: 1.4rem;
  }
  
  .bold {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .semiBold {
    font-size: 1.6rem;
  }
  
  .empty {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 450px) {

  .largeTitle {
    font-size: 4rem;
    -webkit-text-stroke: .2rem blueColor;
    text-stroke: .2rem blueColor;
  }
  
  .largeTitleOutline {
    font-size: 4rem;
    -webkit-text-stroke: .2rem blueColor;
    text-stroke: .2rem blueColor;
  }

  .mediumTitle {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
  
  .mediumTitleOutline {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }

  .smallCaps {
    font-size: 1.2rem;
  }
  
  .smallCapsLight {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .smallText {
    font-size: 1.4rem;
  }
  
  .bold {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .semiBold {
    font-size: 1.6rem;
  }
  
  .empty {
    font-size: 1.6rem;
  }
}

