@value tokens: "./tokens.module.css";
@value blueColor, lightColor from tokens;

.largeTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: blueColor;
  text-fill-color: blueColor;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.largeTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  letter-spacing: 0.2rem;
}

.mediumTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: blueColor;
  letter-spacing: 0.01rem;
  line-height: 2.5rem;
}

.mediumTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.12rem blueColor;
  text-stroke: 0.12rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02rem;
  line-height: 2.5rem;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 5rem;
  text-transform: uppercase;
  color: blueColor;
  letter-spacing: 0.01rem;
  line-height: 5rem;
}

.titleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.12rem blueColor;
  text-stroke: 0.12rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 5rem;
}

.smallCaps {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.smallCapsLight {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
  line-height: 2.2rem;
}

.smallText {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  color: blueColor;
}

.feedback {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: blueColor;
  font-style: italic;
}

.bold {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: blueColor;
  line-height: 2.2rem;
}

.semiBold {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: blueColor;
}

.empty {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
}

.number {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 0.25rem blueColor;
  text-stroke: 0.25rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@media screen and (max-width: 1250px) {
  .largeTitle {
    font-size: 11rem;
  }

  .largeTitleOutline {
    font-size: 11rem;
  }
}

@media screen and (max-width: 1150px) {
  .largeTitle {
    font-size: 10rem;
  }

  .largeTitleOutline {
    font-size: 10rem;
  }
}

@media screen and (max-width: 1050px) {
  .largeTitle {
    font-size: 9.25rem;
  }

  .largeTitleOutline {
    font-size: 9.25rem;
  }
}

@media screen and (max-width: 1000px) {
  .largeTitle {
    font-size: 8.75rem;
  }

  .largeTitleOutline {
    font-size: 8.75rem;
  }
  .smallCaps {
    font-size: 1.4rem;
  }

  .smallCapsLight {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 950px) {
  .largeTitle {
    font-size: 8.15rem;
  }

  .largeTitleOutline {
    font-size: 8.15rem;
  }
}

@media screen and (max-width: 850px) {
  .largeTitle {
    font-size: 7.5rem;
  }

  .largeTitleOutline {
    font-size: 7.5rem;
  }

  .mediumTitle {
    font-size: 2rem;
    line-height: 2rem;
  }

  .mediumTitleOutline {
    font-size: 2rem;
    line-height: 2rem;
  }

  .smallCaps {
    font-size: 1.4rem;
  }

  .smallCapsLight {
    font-size: 1.4rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .smallText {
    font-size: 1.4rem;
  }

  .bold {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .semiBold {
    font-size: 1.5rem;
  }

  .empty {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 715px) {
  .largeTitle {
    font-size: 5.6rem;
    -webkit-text-stroke: 0.25rem blueColor;
    text-stroke: 0.25rem blueColor;
  }

  .largeTitleOutline {
    font-size: 5.6rem;
    -webkit-text-stroke: 0.25rem blueColor;
    text-stroke: 0.25rem blueColor;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .titleOutline {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .largeTitle {
    font-size: 4.5rem;
    -webkit-text-stroke: 0.2rem blueColor;
    text-stroke: 0.2rem blueColor;
  }

  .largeTitleOutline {
    font-size: 4.5rem;
    -webkit-text-stroke: 0.2rem blueColor;
    text-stroke: 0.2rem blueColor;
  }

  .mediumTitle {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .mediumTitleOutline {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .title {
    font-size: 3rem;
    color: blueColor;
    letter-spacing: 0.01rem;
    line-height: 3rem;
  }

  .titleOutline {
    font-size: 3rem;
    -webkit-text-stroke: 0.12rem blueColor;
    text-stroke: 0.12rem blueColor;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    letter-spacing: 0.05rem;
    line-height: 3rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .smallText {
    font-size: 1.4rem;
  }

  .empty {
    font-size: 1.6rem;
  }

  .smallCaps {
    font-size: 1.3rem;
  }

  .smallCapsLight {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .largeTitle {
    font-size: 3.6rem;
    -webkit-text-stroke: 0.15rem blueColor;
    text-stroke: 0.15rem blueColor;
  }

  .largeTitleOutline {
    font-size: 3.6rem;
    -webkit-text-stroke: 0.15rem blueColor;
    text-stroke: 0.15rem blueColor;
  }

  .mediumTitle {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }

  .mediumTitleOutline {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .smallText {
    font-size: 1.4rem;
  }

  .bold {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .empty {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 350px) {
  .largeTitle {
    font-size: 3.4rem;
    -webkit-text-stroke: 0.15rem blueColor;
    text-stroke: 0.15rem blueColor;
  }

  .largeTitleOutline {
    font-size: 3.4rem;
    -webkit-text-stroke: 0.15rem blueColor;
    text-stroke: 0.15rem blueColor;
  }
}
