@value tokens: "./tokens.module.css";
@value blueColor, lightColor from tokens;

.largeTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: blueColor;
  text-fill-color: blueColor;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.largeTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem blueColor;
  text-stroke: 0.3rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  letter-spacing: 0.2rem;
}

.mediumTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: blueColor;
  letter-spacing: 0.01rem;
  line-height: 2.5rem;
}

.mediumTitleOutline {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.12rem blueColor;
  text-stroke: 0.12rem blueColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}

.smallCaps {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.smallCapsLight {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: blueColor;
}

.text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
}

.smallText {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: blueColor;
}

.bold {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: blueColor;
}

.semiBold {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: blueColor;
}

.empty {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: blueColor;
}
