@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

/* Benodigdheden */

.needs_title {
  composes: mediumTitle from '../../../css/typo.module.css';
}

.needs_list {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.need {
  position: relative;
}

.need_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
  position: relative;
  align-items: center;
}

.need_item__text {
  composes: smallCaps from '../../../css/typo.module.css';
  margin-bottom: 1rem;
}

.needs_item__image {
  border: 0.3rem solid blueColor;
  width: 10rem;
  height: 10rem;
  background-color: beigeColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.needs_item__image:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.need_button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.button {
  composes: smallButton from '../../../css/buttons.module.css';
}

.circle_button {
  composes: smallCircleButton from '../../../css/buttons.module.css';
}

.button_image {
  composes: smallButtonImage from '../../../css/buttons.module.css';
}
