.grid_image_pending__text {
  display: none;
  composes: text from "../../../css/typo.module.css";
  font-style: italic;
}

@media screen and (max-width: 550px) {
  .grid_image_pending__text {
    margin-left: 1rem;
  }
}
