@value tokens: "../../../css/tokens.module.css";
@value yellowColor, redColor, lightColor from tokens;

.timeline {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10rem 20rem;
  margin-right: 10rem;
}

.header {
  display: flex;
}

.error {
  color: redColor;
  margin-top: 1rem;
}

.part_title {
  margin-right: 10rem;
}

.title {
  composes: largeTitleOutline from "../../../css/typo.module.css";
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.2rem var(--colorBlue);
  text-stroke: 0.2rem var(--colorBlue);
  -webkit-text-fill-color: var(--colorBlue);
  text-fill-color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.title_outline {
  composes: largeTitle from "../../../css/typo.module.css";
  -webkit-text-stroke: 0.3rem var(--colorBlue);
  text-stroke: 0.3rem var(--colorBlue);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.title_description {
  composes: semiBold from "../../../css/typo.module.css";
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.timeline_line {
  position: absolute;
  top: 50%;
  height: 0.3rem;
  background-color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  width: 100%;
  left: 0;
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donations_timeline {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.crowdfunding_scroll {
  width: 100%;
  justify-content: flex-start;
}

.form_crowdfunding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  justify-self: flex-start;
  z-index: 1;
  margin-right: 15rem;
}

.form_card__crowdfunding {
  border: 0.3rem solid var(--colorBlue);
  background-color: var(--colorBeige);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_option__text__crowdfunding {
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  display: grid;
  grid-template-columns: 3.8rem auto;
  align-items: center;
  grid-column-gap: 1rem;
  line-height: 1.4;
}

.crowdfunding_number {
  composes: number from "../../../css/typo.module.css";
  -webkit-text-stroke: 0.25rem var(--colorBlue);
  text-stroke: 0.25rem var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.crowdfunding_reward {
  /* display: grid;
  grid-template-columns: auto 15rem;
  grid-row-gap: 0.5fr; */
  display: flex;
  justify-content: space-between;
  z-index: 5;
  /* display: grid;
  grid-template-columns: auto 12rem; */
}

.value {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.crowdfunding_value {
  composes: smallCaps from "../../../css/typo.module.css";
  background-color: redColor;
  border: 0.2rem solid var(--colorBeige);
  transition: background-color color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  position: relative;
  width: 12rem;
  text-align: center;
  display: inline-block;
  padding: 0.75rem 0;
}

.crowdfunding_value:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.5rem;
  left: 0.1rem;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.value:hover .crowdfunding_value:after {
  top: 0;
  left: 0;
}

.back_text__crowdfunding {
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.button_back__crowdfunding {
  composes: buttonBack from "../../../css/buttons.module.css";
}

.form_card__crowdfunding__input {
  display: flex;
  flex-direction: column;
}

.form_option__text__crowdfunding {
  composes: smallCaps from "../../../css/typo.module.css";
  margin-right: 1rem;
}

.input {
  border-bottom: 0.2rem solid var(--colorBlue);
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  composes: empty from "../../../css/typo.module.css";
  padding: 0.2rem 0.5rem;
  color: var(--colorBlue);
  width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.input_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form_title {
  composes: bold from "../../../css/typo.module.css";
  margin-bottom: 1rem;
  color: var(--colorBlue);
}

.voorzien_three__button {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button_voorzien__crowdfunding {
  border: 0.2rem solid var(--colorBlue);
  padding: 0.6rem 0.8rem;
  position: relative;
  background-color: var(--colorBeige);
  color: var(--colorBlue);
  composes: text from "../../../css/typo.module.css";
}

.crowdfunding_timeline {
  display: flex;
  margin-top: auto;
}

.donation_progress {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 26rem;
  margin-bottom: 8rem;
}

.progress_caps {
  composes: smallCaps from "../../../css/typo.module.css";
  color: var(--colorBlue);
}

.progress_donated__text {
  color: var(--colorBlue);
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.progress_donated__circle {
  height: 1rem;
  width: 1rem;
  background-color: redColor;
  border-radius: 50%;
  margin-right: 1rem;
}

.progress_donated {
  display: flex;
  align-items: center;
}

.progress_points {
  display: flex;
  justify-content: space-between;
}

.progress {
  display: flex;
  align-items: center;
}

.progressbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50rem;
  height: 0.5rem;
  margin-right: 1rem;
  border: none;
  background-color: #212a34;
  border: 0.3rem solid blueColor;
  margin: 1rem 0;
}

.progressbar::-webkit-progress-bar {
  background-color: #212a34;
}

.progressbar::-webkit-progress-value {
  background-color: redColor;
}

.progressbar::-moz-progress-bar {
  background-color: redColor;
}

.endcrowdfunding {
  margin: 0 20rem;
}

@media screen and (max-width: 850px) {
  .part_title {
    margin-right: 0;
    width: 50%;
  }

  .title {
    margin-bottom: 1rem;
    text-fill-color: var(--colorBlue);
    font-size: 4.2rem;
  }
  .title_outline {
    font-size: 4.2rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .timeline {
    padding: 0;
    margin-right: 0;
    margin-bottom: 15rem;
  }

  .crowdfunding_timeline {
    flex-direction: column;
    margin-top: auto;
  }

  .timeline_line {
    top: 0;
    height: 100%;
    background-color: var(--colorBlue);
    width: 0.3rem;
    left: 50%;
  }

  .header {
    flex-direction: column;
    margin-top: 10rem;
  }

  .form_crowdfunding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin: 5rem auto;
  }
}

@media screen and (max-width: 550px) {
  .timeline_line {
    width: 0.3rem;
    left: 2.5rem;
  }

  .part_title {
    margin-right: 0;
    margin-left: 7rem;
    width: unset;
  }

  .title {
    margin-bottom: 1rem;
    text-fill-color: var(--colorBlue);
    font-size: 5rem;
  }
  .title_outline {
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .form_crowdfunding {
    padding: unset;
    margin: unset;
  }

  .form_card__crowdfunding {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .crowdfunding_reward {
    flex-direction: column;
    margin: 1rem 0;
  }

  .crowdfunding_value {
    margin-left: 4.8rem;
  }
}

@media screen and (max-width: 450px) {
  .part_title {
    margin-left: 5rem;
  }
}
