@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor, lightColor from tokens;

.timeline {
  /* background-color: blueColor; */
  /* padding: 0 20rem; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10rem 20rem;
  margin-right: 10rem;
}

.header {
  display: flex;
}

.part_title {
  margin-right: 10rem;
}

.title {
  composes: largeTitleOutline from '../../../css/typo.module.css';
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.3rem beigeColor;
  text-stroke: 0.3rem beigeColor;
  -webkit-text-fill-color: beigeColor;
  text-fill-color: beigeColor;
}

.title_outline {
  composes: largeTitle from '../../../css/typo.module.css';
  -webkit-text-stroke: 0.3rem beigeColor;
  text-stroke: 0.3rem beigeColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.title_description {
  composes: semiBold from '../../../css/typo.module.css';
  color: beigeColor;
}

.timeline_line {
  position: absolute;
  top: 50%;
  height: 0.3rem;
  background-color: beigeColor;
  width: 100%;
  left: 0;
}

.donations_timeline {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.form_crowdfunding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueColor;
  z-index: 1;
  margin-right: 15rem;
}

.form_crowdfunding {
  background-color: blueColor;
}

.form_card__crowdfunding {
  border: 0.3rem solid beigeColor;
  background-color: blueColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_option__text__crowdfunding {
  color: beigeColor;
  display: grid;
  grid-template-columns: 3.8rem auto;
  align-items: center;
  grid-column-gap: 1rem;
  line-height: 1.4;
}

.crowdfunding_number {
  composes: number from '../../../css/typo.module.css';
  -webkit-text-stroke: 0.25rem beigeColor;
  text-stroke: 0.25rem beigeColor;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.crowdfunding_reward {
  /* display: grid;
  grid-template-columns: auto 15rem;
  grid-row-gap: 0.5fr; */
  display: flex;
  justify-content: space-between;
  z-index: 5;
  /* display: grid;
  grid-template-columns: auto 12rem; */
}

.value {
  display: flex;
  align-items: center;
}

.crowdfunding_value {
  composes: smallCaps from '../../../css/typo.module.css';
  background-color: greenColor;
  border: 0.2rem solid blueColor;
  position: relative;
  width: 12rem;
  text-align: center;
  display: inline-block;
  padding: 0.75rem 0;
}

.crowdfunding_value:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.5rem;
  left: 0.15rem;
  width: 105%;
  height: 105%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.back_text__crowdfunding {
  color: beigeColor;
}

.button_back__crowdfunding {
  composes: buttonBack from '../../../css/buttons.module.css';
}

.form_card__crowdfunding__input {
  display: flex;
  flex-direction: column;
}

.form_option__text__crowdfunding {
  composes: smallCaps from '../../../css/typo.module.css';
}

.input {
  border-bottom: 0.2rem solid beigeColor;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  composes: empty from '../../../css/typo.module.css';
  padding: 0.2rem 0.5rem;
}

.button_voorzien__crowdfunding {
  border: 0.2rem solid beigeColor;
  padding: 0.6rem 0.8rem;
  position: relative;
  background-color: blueColor;
  color: beigeColor;
  composes: text from '../../../css/typo.module.css';
}

.crowdfunding_timeline {
  display: flex;
  margin-top: auto;
}
