@value tokens: "../../../../css/tokens.module.css";
@value beigeColor from tokens;

.need_button {
  position: absolute;
  right: -2rem;
  z-index: 3;
  top: -2.5rem;
}

.button {
  composes: smallButton from "../../../../css/buttons.module.css";
  cursor: pointer;
}

.circle_button {
  composes: smallCircleButton from "../../../../css/buttons.module.css";
  transition: none;
  padding: 1.2rem;
  background-color: beigeColor;
}

.circle_button:hover,
.button_image:hover {
  transition: none;
}

.circle_button_provided {
  background-color: beigeColor;
}

.circle_button_provided:after {
  display: none;
}

.button_image {
  composes: smallButtonImage from "../../../../css/buttons.module.css";
  width: 100%;
  height: 100%;
  transition: none;
  animation-play-state: paused;
  webkit-animation-play-state: paused;
}

.button:hover .button_image {
  animation-play-state: paused;
  webkit-animation-play-state: paused;
}
