@value tokens: "../../../../css/tokens.module.css";
@value yellowColor, redColor, greenColor, lightColor from tokens;

/* .donation_wrapper {
  position: relative;
} */

.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 35rem;
}

.donation_icon {
  /* text-align: center; */
  z-index: 1;
  justify-self: center;
  align-self: center;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
  display: flex;
  align-items: center;
}

.icon_circle {
  text-align: center;
  padding: 1.5rem 1rem;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  border: 0.3rem solid var(--colorBeige);
  background-color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donation_content {
  z-index: 2;
  list-style-type: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: 21vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.donation_card {
  border: 0.3rem solid var(--colorBeige);
  position: relative;
  background-color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  width: 12rem;
  height: 5vh;
  /* margin: 1.5rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.donation_card:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1rem;
  left: 0.5rem;
  width: 105%;
  height: 105%;
  z-index: -1;
}

.donation_info {
  margin-bottom: 2rem;
}

.donation_text {
  color: var(--colorBeige);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  composes: mediumTitle from "../../../../css/typo.module.css";
}

.donation_date {
  composes: smallText from "../../../../css/typo.module.css";
  text-align: center;
  margin-top: 0.5rem;
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donation_type {
  composes: smallCaps from "../../../../css/typo.module.css";
  text-align: center;
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.icon_circle__svg__mobile {
  display: none;
}

.icon_circle__svg path {
  fill: var(--colorBeige);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

@media screen and (max-width: 850px) {
  .donation {
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 18rem;
    margin: 0;
    padding: 0 2rem;
  }

  .donation:nth-child(even) {
    flex-direction: column;
    justify-content: center;
  }

  .donation_content {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    margin: 0;
  }

  .donation:nth-child(even) .donation_content {
    align-self: flex-start;
    flex-direction: column;
  }

  .donation_icon {
    margin: auto 1rem;
    position: relative;
  }

  .donation_info {
    margin: 0;
    margin-bottom: 1rem;
  }

  .donation_card {
    position: relative;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .donation {
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 5rem 0;
    padding: 0;
    justify-content: flex-start;
  }

  .donation:nth-child(even) {
    flex-direction: row;
    justify-content: flex-start;
  }

  .donation_content {
    flex-direction: column;
    position: relative;
    bottom: unset;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    margin-left: 2rem;
  }

  .donation_date {
    text-align: left;
  }

  .donation:nth-child(even) .donation_content {
    align-self: flex-start;
    flex-direction: column;
  }

  .donation_icon {
    margin: auto 0;
    position: relative;
    align-self: unset;
    top: unset;
    left: unset;
  }

  .icon_circle {
    text-align: center;
    padding: 1.3rem 1rem;
  }

  .icon_circle__svg {
    display: unset;
  }

  .icon_circle__svg__mobile path {
    display: flex;
    fill: var(--colorBeige);
    transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  }
}

@media screen and (max-width: 450px) {
  .donation_content {
    margin-left: 1rem;
  }
}
