@value tokens: "../../../css/tokens.module.css";
@value blueColor, greenColor, yellowColor, beigeColor from tokens;

.part {
  composes: view from "../../../css/layout.module.css";
}

.part_header {
  margin-bottom: 5rem;
}

.title {
  composes: largeTitleOutline from "../../../css/typo.module.css";
  margin-bottom: 1rem;
}

.title_outline {
  composes: largeTitle from "../../../css/typo.module.css";
}

.title-description {
  composes: semiBold from "../../../css/typo.module.css";
}

.subtitle {
  composes: smallCaps from "../../../css/typo.module.css";
  margin-bottom: 2rem;
}

.part_content {
  margin-top: auto;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.content_theme,
.content_category {
  justify-content: center;
  text-align: center;
}

.content_theme {
  margin-bottom: 2rem;
}

.content_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content_option {
  margin: 1rem 2rem;
  z-index: 1;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox[type="radio"]:hover + .checkbox_text:after {
  top: 0;
  left: 0;
}

.checkbox[type="radio"]:checked + .checkbox_text {
  background-color: greenColor;
}

.checkbox[type="radio"]:checked + .checkbox_text:after {
  left: 0;
  top: 0;
}

.checkbox_text {
  composes: bold from "../../../css/typo.module.css";
  text-align: center;
  border: 0.2rem solid blueColor;
  padding: 0.8rem 2rem;
  position: relative;
  background-color: beigeColor;
}

.checkbox_text:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.6rem;
  left: 0.6rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.part_end {
  display: grid;
  margin-top: auto;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.button_next {
  grid-column: 3;
  text-align: center;
  z-index: 1;
}

.button {
  composes: button from "../../../css/buttons.module.css";
}

.circle_button {
  composes: circleButton from "../../../css/buttons.module.css";
}

.button_image {
  composes: buttonImage from "../../../css/buttons.module.css";
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
