@value tokens: "../../../css/tokens.module.css";
@value yellowColor, redColor, lightColor, blueColor from tokens;

.realisatie {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10rem 20rem;
  margin-right: 10rem;
  width: 100vw;
}

.header {
  display: flex;
}

.error {
  color: redColor;
  margin-top: 1rem;
}

.part_title {
  margin-right: 10rem;
}

.title {
  composes: titleOutline from "../../../css/typo.module.css";
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.2rem var(--colorBlue);
  text-stroke: 0.2rem var(--colorBlue);
  -webkit-text-fill-color: var(--colorBlue);
  text-fill-color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  font-size: 8rem;
  line-height: 8rem;
}

.title_outline {
  composes: title from "../../../css/typo.module.css";
  -webkit-text-stroke: 0.35rem var(--colorBlue);
  text-stroke: 0.35rem var(--colorBlue);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  font-size: 8rem;
  line-height: 8rem;
}

.title_description {
  composes: semiBold from "../../../css/typo.module.css";
  color: var(--colorBlue);
  transition: 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 35rem;
  align-self: center;
}

.donation_icon {
  /* text-align: center; */
  z-index: 1;
  justify-self: center;
  align-self: center;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
  display: flex;
  align-items: center;
}

.icon_circle {
  text-align: center;
  padding: 1.2rem 1.2rem;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  border: 0.3rem solid var(--colorBlue);
  background-color: var(--colorBeige);
  transition: border 1.5s cubic-bezier(0.025, 0.9, 0.45, 1),
    background-color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donation_content {
  z-index: 2;
  list-style-type: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.donation_card {
  border: 0.3rem solid var(--colorBlue);
  position: relative;
  background-color: var(--colorBeige);
  transition: all 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  width: 45vh;
  height: 18vh;
  /* margin: 1.5rem 0; */
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 3rem;
}

.donation_card:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.donation_info {
  margin-bottom: 2rem;
}

.donation_text {
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
  composes: smallText from "../../../css/typo.module.css";
  font-style: italic;
}

.donation_date {
  composes: smallText from "../../../css/typo.module.css";
  text-align: center;
  margin-top: 0.5rem;
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.donation_type {
  composes: smallCaps from "../../../css/typo.module.css";
  text-align: center;
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.icon_circle__svg__mobile {
  display: none;
}

.icon_circle__svg path {
  fill: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.contact {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 20rem;
  margin-bottom: 8rem;
}

.contact_title {
  composes: smallCaps from "../../../css/typo.module.css";
  margin-bottom: 1rem;
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.contact_info {
  display: flex;
  align-items: center;
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.info_circle {
  height: 1rem;
  width: 1rem;
  background-color: var(--colorBlue);
  border-radius: 50%;
  margin-right: 1rem;
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

.info_subtitle {
  composes: smallText from "../../../css/typo.module.css";
  margin: 0.5rem 0;
  color: var(--colorBlue);
  transition: color 1.5s cubic-bezier(0.025, 0.9, 0.45, 1);
}

@media screen and (max-width: 850px) {
  .part_title {
    margin-right: 0;
    width: 50%;
  }

  .title {
    margin-bottom: 1rem;
    text-fill-color: var(--colorBlue);
    font-size: 4.2rem;
    line-height: 4rem;
    -webkit-text-stroke: 0.18rem var(--colorBlue);
    text-stroke: 0.18rem var(--colorBlue);
  }

  .title_outline {
    font-size: 4.2rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    line-height: 4rem;
    text-stroke: 0.18rem var(--colorBlue);
    -webkit-text-stroke: 0.18rem var(--colorBlue);
  }

  .realisatie {
    padding: 0;
    margin-right: 0;
    margin-bottom: 15rem;
    width: unset;
  }

  .crowdfunding_timeline {
    flex-direction: column;
    margin-top: auto;
  }

  .timeline_line {
    top: 0;
    height: 100%;
    background-color: var(--colorBlue);
    width: 0.3rem;
    left: 50%;
  }

  .header {
    flex-direction: column;
    margin-top: 10rem;
  }

  .contact {
    position: relative;
    margin-left: 0;
    margin-bottom: 0;
  }

  .donation_content {
    z-index: 2;
    list-style-type: none;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .donation {
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 8rem 0;
    padding: 0;
    justify-content: flex-start;
  }

  .donation:nth-child(even) {
    flex-direction: row;
    justify-content: flex-start;
  }

  .donation_content {
    flex-direction: column;
    position: relative;
    bottom: unset;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    margin-left: 2rem;
  }

  .donation_date {
    text-align: left;
  }

  .donation:nth-child(even) .donation_content {
    align-self: flex-start;
    flex-direction: column;
  }

  .donation_icon {
    margin: auto 0;
    position: relative;
    align-self: unset;
    top: unset;
    left: unset;
  }

  .part_title {
    margin-right: 0;
    margin-left: 7rem;
    width: unset;
  }

  .title {
    margin-bottom: 1rem;
    text-fill-color: var(--colorBlue);
    font-size: 5rem;
    line-height: 5rem;
    -webkit-text-stroke: 0.18rem var(--colorBlue);
    text-stroke: 0.18rem var(--colorBlue);
  }
  .title_outline {
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    line-height: 5rem;
    -webkit-text-stroke: 0.18rem var(--colorBlue);
    text-stroke: 0.18rem var(--colorBlue);
  }
}

@media screen and (max-width: 450px) {
  .part_title {
    margin-left: 5rem;
  }
}
