@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor from tokens;

.part {
  composes: view from '../../../css/layout.module.css';
}

.title {
  composes: largeTitleOutline from '../../../css/typo.module.css';
  margin-bottom: 1rem;
}

.title_outline {
  composes: largeTitle from '../../../css/typo.module.css';
}

.title-description {
  composes: semiBold from '../../../css/typo.module.css';
}

.subtitle {
  composes: mediumTitle from '../../../css/typo.module.css';
}

.checkbox {
  display: none;
}

.checkbox_text {
  composes: smallCaps from '../../../css/typo.module.css';
  text-align: center;
}

.label {
  composes: semiBold from '../../../css/typo.module.css';
}

.option {
  composes: smallCaps from '../../../css/typo.module.css';
}

.part_header {
  margin-bottom: 5rem;
}

.part_content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}

.input {
  border-bottom: 0.2rem solid blueColor;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  composes: empty from '../../../css/typo.module.css';
  padding: 0.2rem 0.5rem;
}

.part_end {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(3, 1fr);
  margin-top: auto;
}

.button_next {
  grid-column: 3;
  text-align: center;
  z-index: 1;
}

.button {
  composes: button from '../../../css/buttons.module.css';
}

.circle_button {
  composes: circleButton from '../../../css/buttons.module.css';
}

.button_image {
  composes: buttonImage from '../../../css/buttons.module.css';
}
