@value tokens: "../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor, lightColor from tokens;

/* Empty State */

.empty_button,
.delete_button {
  border: none;
  background-color: transparent;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.empty_state {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;
}

.empty_state__text {
  composes: mediumTitle from '../../css/typo.module.css';
  color: #e5d6c0;
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
}

.empty_state__text__outline {
  composes: mediumTitleOutline from '../../css/typo.module.css';
  -webkit-text-stroke: 0.1rem #e5d6c0;
  text-stroke: 0.1rem #e5d6c0;
  display: inline-block;
  font-size: 4rem;
  line-height: 5rem;
}

.empty_state__buttons {
  margin-top: 3rem;
  z-index: 2;
}

.empty_state__button {
  composes: smallCaps from '../../css/typo.module.css';
  border: 0.2rem solid blueColor;
  padding: 0.8rem 1rem;
  position: relative;
  background-color: beigeColor;
  margin-right: 3rem;
  cursor: pointer;
}

.empty_state__button:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.7rem;
  left: 0.7rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.empty_state__button:hover .empty_state__button:after {
  top: 0;
  left: 0;
}

.empty_state__button__extra {
  composes: smallCapsLight from '../../css/typo.module.css';
  border-bottom: 0.1rem solid #091422;
  display: inline-block;
  padding: 0.5rem 0;
  color: #091422;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  margin-top: 1rem;
  cursor: pointer;
}
