@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

/* Extra */

.project_extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90rem;
  padding: 10rem 0;
}

/* Extra Tagline */

.extra_tagline {
  position: relative;
}

.tagline_text {
  composes: mediumTitle from "../../../css/typo.module.css";
  position: relative;
}

.tagline_image {
  position: absolute;
  top: -2rem;
  left: -2rem;
  z-index: -1;
}

.extra_image {
  border: 0.3rem solid blueColor;
  background: beigeColor;
  position: relative;
  width: 100%;
  height: 50vh;
}

.extra_image:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1.5rem;
  left: 1.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.project_image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.extra_button {
  display: flex;
  align-items: center;
}

.extra_button__text {
  composes: smallCaps from "../../../css/typo.module.css";
}

.extra_button__arrow {
  margin-left: 5rem;
}

@media screen and (max-width: 850px) {
  .project_extra {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
