.profile_button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 1rem;
}

.nav_item {
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  align-items: center;
}

.nav_item__small {
  font-family: Montserrat, sans-serif;
  color: #fdecd2;
  font-size: 1.1rem;
  font-weight: 500;
  visibility: hidden;
  white-space: nowrap;
  transition-delay: 0s;
  opacity: 0;
  transition-duration: 0.2s;
  margin-left: -3rem;
}
