@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor, lightColor from tokens;

.feedback_timeline {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 20rem;
}

.timeline_line {
  position: absolute;
  top: 50%;
  height: 0.3rem;
  background-color: blueColor;
  width: 100%;
  left: 0;
}

.form_feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beigeColor;
  z-index: 1;
  margin-right: 15rem;
}

.form_card {
  height: 25rem;
  width: 50rem;
  border: 0.3rem solid blueColor;
  background-color: beigeColor;
  padding: 2rem;
  position: relative;
  margin: 2rem 0;
}

.form_card:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 5%;
  left: 3%;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: all 0.2s ease-in-out;
}

.form_title {
  composes: bold from '../../../css/typo.module.css';
}

.form_number {
  composes: number from '../../../css/typo.module.css';
}

.form_card__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_option {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.form_option img {
  margin-right: 1rem;
}

.form_input {
  border: none;
  background-color: transparent;
  composes: empty from '../../../css/typo.module.css';
  height: 15.5rem;
  width: 45rem;
  resize: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.voorzien_three {
  text-align: center;
  margin-top: 4rem;
}

.button_voorzien:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 0.7rem;
  left: 0.7rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
