@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor, greenColor from tokens;

/* Project Tags */

.project_tags {
  display: flex;
  composes: smallCaps from "../../../css/typo.module.css";
  color: beigeColor;
  margin-bottom: 1rem;
}

.card_tag {
  background-color: blueColor;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.card_tag:last-of-type {
  margin-right: 0;
}

/* Info Project */

.title {
  composes: title from "../../../css/typo.module.css";
  margin-bottom: 1rem;
}

.title_outline {
  composes: titleOutline from "../../../css/typo.module.css";
}

/* Project Subtitles */

.project_subtitles {
  display: flex;
  margin-bottom: 5rem;
}

.info_item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.info_item:last-of-type {
  margin-right: 0;
}

.fase_color {
  height: 1.5rem;
  border-radius: 50%;
  width: 1.5rem;
}

.fase_concept {
  background-color: blueColor;
}

.fase_creatie {
  background-color: yellowColor;
}

.fase_crowdfunding {
  background-color: redColor;
}

.fase_realisatie {
  background-color: greenColor;
}

.info_text {
  padding: 1.5rem 0.5rem;
  margin-left: 0.2rem;
}

.info_light {
  composes: smallCapsLight from "../../../css/typo.module.css";
}

.info_bold {
  composes: smallCaps from "../../../css/typo.module.css";
}

/* Project Description */

.description_bold {
  composes: bold from "../../../css/typo.module.css";
  color: #3b4045;
  margin-bottom: 2rem;
}

.description_light {
  composes: text from "../../../css/typo.module.css";
  color: #3b4045;
}

.extra_mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .project {
    margin-bottom: 5rem;
  }

  .extra_mobile {
    display: flex;
    flex-direction: column;
  }

  /* Extra Tagline */

  .extra_tagline {
    position: relative;
  }

  .tagline_text {
    composes: mediumTitle from "../../../css/typo.module.css";
    margin-bottom: 3rem;
  }

  .tagline_image {
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;
  }

  .extra_image {
    border: 0.3rem solid blueColor;
    position: relative;
    width: 70%;
    height: 30vh;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .extra_image:after {
    content: "";
    position: absolute;
    display: block;
    background: beigeColor;
    border-radius: inherit;
    border: inherit;
    top: 1.5rem;
    left: 1.5rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  .project_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@media screen and (max-width: 550px) {
  .project_subtitles {
    margin-bottom: 3rem;
  }
}
