@value tokens: "../../../css/tokens.module.css";
@value blueColor, yellowColor, beigeColor, redColor from tokens;

.part {
  composes: view from "../../../css/layout.module.css";
}

.error {
  color: redColor;
}

.part_header {
  margin-bottom: 5rem;
}

.title {
  composes: largeTitleOutline from "../../../css/typo.module.css";
  margin-bottom: 1rem;
}

.title_outline {
  composes: largeTitle from "../../../css/typo.module.css";
}

.title_description {
  composes: semiBold from "../../../css/typo.module.css";
}

.subtitle {
  composes: mediumTitle from "../../../css/typo.module.css";
}

.subtitle_project {
  grid-column: span 2;
}

.subtitle_image {
  display: flex;
  justify-content: space-between;
}

.part_content {
  margin-bottom: 5rem;
}

/* .form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 40rem;
  grid-column-gap: 5rem;
} */

.form_grid {
  grid-column-gap: 2rem;
  margin-top: 2rem;
}

/* Grid Project Inputs */

.form_project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.8rem;
  margin-top: 2rem;
  width: 100%;
}

.subtitle_project {
  grid-column: 1;
  grid-row: 1;
}

.input_label {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.error {
  color: redColor;
  composes: smallText from "../../../css/typo.module.css";
  font-style: italic;
}

.error_center {
  text-align: center;
  margin-top: 1rem;
}

.subtitle_image {
  grid-column: 3;
  grid-row: 1;
}

.input {
  border-bottom: 0.2rem solid blueColor;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  composes: empty from "../../../css/typo.module.css";
  padding: 0.2rem 0.5rem;
}

.input_text {
  border: 0.2rem solid blueColor;
  background-color: transparent;
  composes: empty from "../../../css/typo.module.css";
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

.input_none {
  display: none;
}

.input_title {
  grid-row: 2;
  grid-column: 1;
}

.input_district {
  grid-row: 3;
  grid-column: 1;
}

.input_tagline {
  grid-column: span 2;
  grid-row: 4;
}

.input_image {
  grid-column: 3;
  grid-row: span 3;
  height: 21rem;
  width: 100%;
  z-index: 2;
}

.image {
  border: 0.2rem solid blueColor;
  background-color: beigeColor;
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  height: 21rem;
  object-fit: cover;
  cursor: pointer;
}

.image:after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  border-radius: inherit;
  border: inherit;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
/* .form_image {
  margin-top: 2rem;
  grid-column: 3;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
} */

/* Grid Text Input */
.form_description {
  grid-column: span 3;
  margin-top: 5rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}

.label {
  composes: semiBold from "../../../css/typo.module.css";
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.label_extra {
  composes: smallText from "../../../css/typo.module.css";
}

/* Button End */

.part_end {
  display: grid;
  margin-top: auto;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.checkbox {
  display: none;
}

.input_submit {
  display: none;
}

.button_next {
  grid-column: 3;
  text-align: center;
  z-index: 1;
}

.button {
  composes: button from "../../../css/buttons.module.css";
}

.circle_button {
  composes: circleButton from "../../../css/buttons.module.css";
}

.button_image {
  composes: buttonImage from "../../../css/buttons.module.css";
}

.button_image__provided {
  animation: none;
}

.button_back {
  display: flex;
  align-items: center;
}

.button_arrow {
  composes: buttonBack from "../../../css/buttons.module.css";
}

.back_image {
  margin-right: 0.5rem;
}

.back_text {
  composes: bold from "../../../css/typo.module.css";
}

@media screen and (max-width: 1150px) {
  .form_project {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-column-gap: 1.8rem;
    margin-top: 2rem;
    width: 100%;
  }

  .input_title {
    grid-column: span 2;
  }

  .input_district {
    grid-column: span 2;
  }
}

@media screen and (max-width: 850px) {
  .part_content {
    margin-right: 1rem;
  }

  .form_project {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .subtitle_project {
    grid-column: 1;
    grid-row: 1;
  }

  .subtitle_image {
    grid-column: 3;
    grid-row: 1;
  }

  .input_tagline {
    grid-column: span 3;
    grid-row: 4;
  }

  .input_image,
  .image {
    height: 16rem;
  }

  .input_image {
    grid-column: 3;
    grid-row: span 2;
    /* height: 21rem; */
    width: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: 750px) {
  .part_content {
    margin-right: 1rem;
  }

  .input_image,
  .image {
    height: 14rem;
  }
}

@media screen and (max-width: 550px) {
  .form_project {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: unset;
    margin-top: 0rem;
    margin-right: 0;
    width: 100%;
  }

  .subtitle_project {
    grid-column: 1;
    grid-row: 3;
    margin-top: 5rem;
  }

  .subtitle_image {
    grid-column: 1;
    grid-row: 1;
    padding: 0 7rem;
  }

  .input_title {
    grid-row: 4;
    grid-column: 1;
  }

  .input_district {
    grid-row: 5;
    grid-column: 1;
  }

  .input_tagline {
    grid-column: 1;
    grid-row: 6;
  }

  .input_image {
    grid-column: 1;
    grid-row: 2;
  }

  .input_image {
    height: 18rem;
    width: 100%;
    padding: 0 7rem;
  }

  .image {
    height: 18rem;
  }
}

@media screen and (max-width: 450px) {
  .input_container {
    padding: 1.5rem 0;
  }

  .input_image {
    height: 18rem;
    width: 100%;
    padding: 0 3rem;
  }
}
